
.skill--block {
	z-index: 1;
	width: 23%;
	min-height: 200px;
	margin: 10px auto;
	background:rgba(0,0,0,0.5);
	line-height: 200px;
	padding:10px;
	text-align: center;
	border:black solid 3px;
	opacity:0.25;
	transition: ease-in-out 0.2s;
	order: 1;
	cursor: no-drop;
	position:relative;
}

#NoPrerequisTable .skill--block {
	width: 45%;
}

.skill--block.selected {
	opacity:1;
	border:black solid 3px;
	background:rgba(0,150,0,0.15);
	/*order: -1;*/
	cursor: pointer;
	min-width: 25%;
	margin-top: 30px;
}
.skill--block.selected h3 {
	font-size: 13pt;
	line-height: 30px;
	background:black;
	position: relative;
	top:-40px;
	left:0;
	width:100%;
}
.SkillTable .skill--block.selected {
	display:none;
}

.skill--block.avaible {
	opacity:0.75;
	border:black dashed 3px;
	order: 0;
	cursor: pointer;
}

.skill--block-wrapper {
	line-height: 20px;
	position: relative;
}
.skill--block-wrapper h3 {
	font-size:  9pt;
	font-weight: bold;
	text-transform: uppercase;
}

.skill--block-wrapper p:not(.skill--block-cost):not(.skill--block-level) { /* :not exclus la class sélectionnée */
	font-size:  8pt;
}

.skill--block-description,
#SelectedSkillTree p:not(.skill--block-cost):not(.skill--block-level) { /* :not exclus la class sélectionnée */
	line-height: 9pt;
	text-align: left;
}

.skill--block-cost,
.skill--block-level {
	display: block;
	position: absolute;
	border-radius: 50%;
	border:2px solid white;
	text-align: center;
}

.skill--block-cost {
	top:-45px;
	right:-20px;
	background: rgba(255,0,0,0.75);
	color:white;
	font-weight: bold;
	height:25px;
	font-size: 9pt;
	width:25px;
	line-height: 22px;
}
p[data-descr]::after {
	content: attr(data-descr);
	opacity:0;
	z-index: 99;
	transition: linear 0.4s;
	position: absolute;
	text-align: center;
	top:-25px;
	left:-100%;
	margin:auto;
	border-radius:20px;
	background:rgba(0,0,0,0.75);
	padding: 5px;
	display:block;
	font-size: 9pt;
	line-height: 12px;
	min-width:100px;
	max-width: 200px;
}
p[data-descr]:hover::after {
	opacity:1;
}

.skill--block-level {
	top:-50px;
	left:0;
	right:0;
	height:40px;
	width:40px;
	margin:auto;
	background: rgba(255,175,0,1);
	font-size: 15pt;
	font-weight: bold;
	line-height: 37px;
}
