
.skill--block {
	width: 23%;
	min-height: 200px;
	margin: 10px auto;
	background:rgba(0,0,0,0.5);
	line-height: 200px;
	padding:10px;
	text-align: center;
	border:black solid 3px;
	opacity:0.25;
	transition: ease-in-out 0.2s;
	order: 1;
	cursor: no-drop;
}

#NoPrerequisTable .skill--block {
	width: 45%;
}

.skill--block.selected {
	opacity:1;
	border:black solid 3px;
	background:rgba(240,240,240,1);
	/*order: -1;*/
	cursor: pointer;
}
.SkillTable .skill--block.selected {
	display:none;
}

.skill--block.avaible {
	opacity:0.75;
	border:black dashed 3px;
	order: 0;
	cursor: pointer;
}

.skill--block-wrapper {
	line-height: 20px;
	position: relative;
}
.skill--block-wrapper h3 {
	font-size:  9pt;
}

.skill--block-wrapper p {
	font-size:  8pt;
}

.skill--block-description,
#SelectedSkillTree p:not(.skill--block-cost) { /* :not exclus la class sélectionnée */
	line-height: 9pt;
	text-align: left;
}

.skill--block-cost {
	background: red;
	display: block;
	height:25px;
	width:25px;
	color:white;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	position: absolute;
	top:-45px;
	right:-20px;
}
