.skill--block {
	display:inline-block;
	background:rgba(0,0,0,0.5);
	height:200px;
	width:200px;
	line-height: 200px;
	text-align: center;
	margin:20px;
	border:black solid 1px;
}

.skill--block.avaible {
	background:rgba(0,255,0,0.5);
}

.skill--block-wrapper {
	line-height: 20px;
}
