.skill {
	display:inline-block;
	margin:10px;
}

.skill,
.skill--block {
	min-height:100px;
	min-width: 150px;
	max-width:40%;
}

.skill button {
	background:rgba(0,0,0,0.5);
	line-height: 200px;
	padding:10px;
	text-align: center;
	border:black solid 5px;
	vertical-align: middle;
	opacity:0.5;
	transition: ease-in-out 0.2s;
}

.skill--block.avaible {
	opacity:0.75;
	border:black dashed 3px;
}
.skill--block.selected {
	opacity:0.75;
	border:black solid 3px;
	background:rgba(0,255,0,0.15);
}

.skill--block-wrapper {
	line-height: 20px;
}
.skill--block-wrapper h3 {
	font-size:  9pt;
}
