.SkillTable {
	position:relative;
	margin: 10px;
	padding:10px;
	display: inline-block;
	vertical-align: top;
	background:green;
	max-width: 30%;
}
.SkillTableWrapper {
	display: flex;
	flex-flow: row wrap;
}

#NoPrerequisTable {
	background:rgba(0,0,0,0.15);
}

#OtherTable {
	background:rgba(255,177,0,0.15);
 .SkillTableWrapper {
		justify-content: space-between;
	}
}

#FeatsRequiredTable {
	background:rgba(255,0,0,0.15);

}

#SelectedSkillTree{
	background:rgba(0,0,0,0.15);
	.SkillTableWrapper {
		margin: 10px 40px;
		justify-content: center;
	}
	.skill--block {
		margin:10px;
	}
}
